
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$abar-app-primary: mat.define-palette(mat.$indigo-palette);
$abar-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$abar-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$abar-app-theme: mat.define-light-theme((
  color: (
    primary: $abar-app-primary,
    accent: $abar-app-accent,
    warn: $abar-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($abar-app-theme);

/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Gill Sans', sans-serif; 
    margin: 0;
    padding: 0;
 }

.site-container{
  padding: 5vh;
}

.double-site{
  display: flex;
  flex-direction: row;
}

.orders-container{
  margin-inline: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
}

.items-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  
  .list-item{
    align-items: center;
    width: fit-content;
    margin-block: 5px;
    font-size: large;
  }
  
  .item{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-block: 10px;
    background-color: #d3d3d3;
    border-radius: 0px;
    width: fit-content;
    height: 150px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 12px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 12px -2px rgba(66, 68, 90, 1);
    transition: 0.2s;
    &:has([type=checkbox]:checked), &:has([type=radio]:checked){
      background-color: black;
      color: white;
      border-radius: 30px;
    }
    
    .check-details-button{
      width: 100%;
      border: none;
      background-color: rgb(175, 175, 175);
      transition: 0.2s;
      &:hover{
        background-color: rgb(48, 48, 48);
        color: white;
      }
    }

    .content-wrapper{
      display: flex;
      flex-direction: row;
      padding: 20px;
      justify-content: center;
      align-items: center;

      .toggle-task-button{
        width: 100%;
        height: 100%;
        border: none;
        background-color: rgb(175, 175, 175);
        transition: 0.2s;
        &:hover{
          background-color: rgb(48, 48, 48);
          color: white;
        }
      }

      [type=checkbox]{
        display:none;
        &:checked + .quantity-field{
          opacity: 1;
        }
      }

      [type=radio]{
        display: none;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .quantity-field{
        font-weight: bold;
        opacity: 0;
        display: flex;
        flex-direction: row;
        color: white;
        [type=number]{
          width: 70px;
          border: none;
          line-height: 1.65;
          background-color: rgb(48, 48, 48);
          border: 2px solid white;
          border-radius: 5px;
          color: white;
          padding: 10px;
          font-weight: bold;
        }
      }
    }

    .img-wrapper{
      margin: 0;
      padding: 0;
      width:30%;
      height:100%;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  } 
  .order-item{
    background-color: white;
    width: 100%;
    .content-wrapper{
      text-align: center;
      font-size: large;
      font-weight: bold;
    } 
  }
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding: 20px;
    transition: 0.2s;
    &:hover{
      border-radius: 30px;
      background-color: rgb(48, 48, 48);
    }
    .login-input{
      width: 100%;
      margin-block: 10px;
      padding: 10px;
      border-radius: 5px;
      border: none;
      font-size: large;
      &:focus{
        outline: none;
      }
    }
  }
}

.login-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 15vh;
  margin: auto;
  border-radius: 10px;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 11%, rgba(82,82,82,1) 100%);
  transition: 0.2s;
  .submit-button, input{
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(190, 190, 190);
    width: 100%;  
    text-align: center;
  }
  a{
    color: white;
    text-decoration: none;
    &:hover{
      color: rgb(190, 190, 190);
    }
  }
  input{
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    color: white;
  }
  textarea{
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    color: white;
    resize: none;
    background-color: rgb(27, 27, 27);
  }
}

.submit-button{
  background-color: black;
  color: white;
  padding: 30px;
  font-size: large;
  transition: 0.2s;
  border-radius: 0px;
  &:hover{
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
  }
  &:disabled{
    background-color: rgb(48, 48, 48);
    color: rgb(167, 167, 167);
    text-decoration: line-through;
    &:hover{
      border-radius: 0px;
      background-color: rgb(48, 48, 48);
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
