<div class="site-container">
    <form #myForm="ngForm" (ngSubmit)="register()" class="login-container"> 
        <h1>Registration</h1>
        Name:
        <input type="text" name="name" [(ngModel)]="name" ngModel required>

        Surname:
        <input type="text" name="surname" [(ngModel)]="surname" ngModel required>

        Address:
        <input type="text" name="address" [(ngModel)]="address" ngModel required>

        Phone number:
        <input type="tel" name="phoneNumber" [(ngModel)]="phoneNumber" ngModel required>

        Email:
        <input type="email" name="login" [(ngModel)]="username" ngModel required>

        Password:
        <input type="password" name="password" [(ngModel)]="password" ngModel required>
        
        <button type="submit" class="submit-button" [disabled]="!myForm.valid">Register</button>
    </form>  
</div>
 
