<div class="site-container">
    <div class="employee-picker">
        <p>Pick employee: </p>
        <select name="employee" class="form-select form-select-lg" [(ngModel)]="selected">    
            <option *ngFor="let employee of employees" value="{{employee.pk}}">
                {{employee.name}} {{employee.surname}}
            </option>
        </select>
    </div>
    <br>
    <div class="tasks-wrapper">
        <a class="task-item" routerLink="delivery" (click)="setEmployeeId()">
            <img src="../assets/img/delivery.png" alt="Delivery">
            <p>Delivery</p>
        </a>
        <a class="task-item" routerLink="warehouse" (click)="setEmployeeId()">
            <img src="../assets/img/warehouse.png" alt="Warehouse">
            <p>Warehouse task</p>
        </a>
        <a class="task-item" routerLink="custom" (click)="setEmployeeId()">
            <img src="../assets/img/custom.png" alt="Custom">
            <p>Custom task</p>
        </a>
    </div>
</div>

