nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: black;
    align-items: center;
    & > *{
        padding: 30px;
        color: white;
        text-align: center;
    }
    a{
    text-decoration: none;
    &:hover{
        background-color: rgb(51, 51, 51);
    }
}
    .right-item{
        margin-left: auto;
        .content{
            padding: 30px;
            color: white;
            text-align: center;
            text-decoration: none;
            &:hover{
                background-color: rgb(51, 51, 51);
            }
        }
    }
}

